.categoryTechnicalSkills2.categoryTechnicalSkills2 {
  width: 203.2941px;
  height: 19.3129px;
}
.ruleHeader, .dateHeader, .descriptionHeader, .categoryHeader, .feedbackHeader {
  display: inline-block;
  width: 250px; /* Adjust the width to suit your layout */
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

.categoryTechnicalSkills {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills4.categoryTechnicalSkills4 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills3 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills6.categoryTechnicalSkills6 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills5 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills8.categoryTechnicalSkills8 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills7 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills10.categoryTechnicalSkills10 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills9 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills12.categoryTechnicalSkills12 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills11 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills14.categoryTechnicalSkills14 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills13 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills16.categoryTechnicalSkills16 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills15 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills18.categoryTechnicalSkills18 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills17 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryTechnicalSkills20.categoryTechnicalSkills20 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryTechnicalSkills19 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryProjectsLedOrContribut2.categoryProjectsLedOrContribut2 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryProjectsLedOrContribut {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryMentorshipAndDevelopme2.categoryMentorshipAndDevelopme2 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryMentorshipAndDevelopme {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryLeadershipOpportunitie2.categoryLeadershipOpportunitie2 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryLeadershipOpportunitie {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryDiscussionContribution2.categoryDiscussionContribution2 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryDiscussionContribution {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryKudosAndFeedback2.categoryKudosAndFeedback2 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryKudosAndFeedback {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.categoryStretchMoments2.categoryStretchMoments2 {
  width: 203.2941px;
  height: 19.3129px;
}
.categoryStretchMoments {
  color: #0009;
  font-size: 13.7224px;
  line-height: 120%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
}
.inputLinearScale.inputLinearScale {
  left: 1303px;
  top: 263px;
}
.textElementsQuestionText.textElementsQuestionText {
  left: 1313px;
  top: 371px;
  width: 428px;
  background-color: #ac2e2e;
}
._1QuestionTextGoesHereOptionalE {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textElementsQuestionText2.textElementsQuestionText2 {
  left: 1313px;
  top: 598px;
  width: 428px;
  background-color: #ac2e2e;
}
._1QuestionTextGoesHereOptionalE2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.starIcon.starIcon {
  left: 1200px;
  top: 263px;
}
.star.star {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  max-width: 100%;
  height: 20px;
  max-height: 100%;
}
.starIcon2.starIcon2 {
  left: 1124px;
  top: 263px;
}
.icon {
  width: 100%;
  height: 100%;
}
.starIcon3.starIcon3 {
  left: 1174px;
  top: 263px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.starIcon4.starIcon4 {
  left: 1099px;
  top: 263px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.starIcon5.starIcon5 {
  left: 1149px;
  top: 263px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.rectangle360 {
  position: absolute;
  left: 1261px;
  top: 0;
  width: 659px;
  height: 907px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.frame7 {
  position: absolute;
  left: 76px;
  top: 259px;
  width: 966px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16.2635px;
}
.hypeItem1 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule1 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._11021 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.evaluateTheDifferencesInTheEmo {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.divider {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem8 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule2 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._110212 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.assessUrgencySignals {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.divider2 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem9 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule3 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: min-content;
  flex-direction: column;
}
._110213 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.evaluateTheDifferencesInTheEmo2 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.divider3 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem10 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule4 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._110214 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.lookForInappropriateUseOfTechn {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.divider4 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem11 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule5 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._110215 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.evaluateTheDifferencesInTheEmo3 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.unnamed {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 151.4541px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.hypeItem12 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule6 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._110216 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.analyzeTheDiversityOfVocabular {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.unnamed2 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 151.4541px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.divider5 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem13 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule7 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._110217 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.compareSentenceLengthsAndCompl {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.unnamed3 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 151.4541px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.divider6 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem14 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule8 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._110218 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.evaluateTheDifferencesInTheEmo4 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.unnamed4 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 151.4541px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.divider7 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem15 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule12 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._110219 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.evaluateTheDifferencesInTheEmo5 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.unnamed5 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 151.4541px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.divider8 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem16 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule13 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._1102110 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.evaluateTheDifferencesInTheEmo6 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.unnamed6 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 151.4541px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.divider9 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem2 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule22 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._12121 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.assessUrgencySignals2 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.divider10 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem3 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule32 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 38.6259px;
  justify-content: center;
  flex-direction: column;
}
._2721 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.evaluateTheLevelOfFormalityInL {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 77.2518px;
  justify-content: center;
  flex-direction: column;
}
.divider11 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem4 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule42 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 38.6259px;
  justify-content: center;
  flex-direction: column;
}
._21621 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.lookForInappropriateUseOfTechn2 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 115.8776px;
  justify-content: center;
  flex-direction: column;
}
.divider12 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem5 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule52 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 38.6259px;
  justify-content: center;
  flex-direction: column;
}
._22721 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.analyzeTheDiversityOfVocabular2 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.unnamed7 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 151.4541px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.divider13 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem6 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule62 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
._31321 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.compareSentenceLengthsAndCompl2 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 96.5647px;
  justify-content: center;
  flex-direction: column;
}
.divider14 {
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.hypeItem7 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rule72 {
  width: 304.9412px;
  height: 38.6259px;
  justify-content: center;
  flex-direction: column;
}
.textBlock {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
._33021 {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 81.3176px;
  height: 19.3129px;
  justify-content: center;
  flex-direction: column;
}
.lookForVariationsInTheUseOfPas {
  color: #0009;
  font-size: 13.7224px;
  line-height: 140%;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 304.9412px;
  height: 115.8776px;
  justify-content: center;
  flex-direction: column;
}
.doNotEdit {
  position: absolute;
  left: 76.2353px;
  top: 66.0706px;
  width: 1143.5294px;
  height: 172.8px;
  flex-direction: column;
  align-items: flex-start;
}
.divider15 {
  transform-origin: top left;
  position: absolute;
  left: -0.0001px;
  top: 172.8px;
  width: 1143.5294px;
  max-width: 100%;
  height: 0.5082px;
  max-height: 100%;
  background-color: #c4c4c4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.sections {
  position: absolute;
  left: -0.0001px;
  top: 143.3224px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 24.3953px;
}
.rectangle365 {
  position: absolute;
  left: 1300px;
  top: 430px;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background-color: white;
  width: 600px;
}
.rectangle385 {
  position: absolute;
  left: 1300px;
  top: 690px;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background-color: white;
  width: 600px;
}
.rule {
  color: #000;
  font-size: 13.7224px;
  line-height: 120%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  width: 363px;
  height: 17px;
  justify-content: center;
  flex-direction: column;
  padding-left: 48px;
}
.date {
  color: #000;
  font-size: 13.7224px;
  line-height: 120%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  width: 81.3176px;
  height: 16.2635px;
  justify-content: center;
  flex-direction: column;
}
.description {
  color: #000;
  font-size: 13.7224px;
  line-height: 120%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  width: 304.9412px;
  height: 16.2635px;
  justify-content: center;
  flex-direction: column;
}
.category {
  color: #000;
  font-size: 13.7224px;
  line-height: 120%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  width: 203.2941px;
  height: 16.2635px;
  justify-content: center;
  flex-direction: column;
}
.feedback {
  color: #000;
  font-size: 13.7224px;
  line-height: 120%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  width: 151.4541px;
  height: min-content;
  flex-direction: column;
}
.titleInstructions {
  position: absolute;
  left: 0;
  top: 0;
  width: 726.7765px;
  height: 94.5318px;
  flex-direction: column;
  align-items: flex-start;
}
.rules {
  color: #323332;
  font-size: 30.4941px;
  line-height: 156%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 138.24px;
  height: 47.7741px;
  justify-content: center;
  flex-direction: column;
}
.useThisPageToScoreAndGiveFeedb {
  color: #000;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -0.0001px;
  top: 55.9059px;
  width: 726.7765px;
  height: 38.6259px;
  justify-content: center;
  flex-direction: column;
}
.titleInstructions2 {
  position: absolute;
  left: 1304px;
  top: 66px;
  width: 616px;
  height: 95px;
  flex-direction: column;
  align-items: flex-start;
}
.humanInTheLoop {
  color: #fff;
  font-size: 30.4941px;
  line-height: 156%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 297px;
  height: 48px;
  justify-content: center;
  flex-direction: column;
}
.keepTheControlByAddingAndDeact {
  color: #fff;
  font-size: 13.7224px;
  line-height: 140%;
  font-weight: 500;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -0.0001px;
  top: 55.9059px;
  width: 726.7765px;
  height: 38.6259px;
  justify-content: center;
  flex-direction: column;
}
.rectangle370 {
  position: absolute;
  left: 1016px;
  top: 27px;
  width: 227px;
  height: 78px;
  border-radius: 40px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle370.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.regenerateResponseButton {
  position: absolute;
  left: 1261px;
  top: 995px;
  width: 304px;
  height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 16px 20px;
  outline: solid 1px #ba9359;
  outline-offset: -1px;
  border-radius: 10px;
  overflow: hidden;
}
.regenerateResponseButton2 {
  position: absolute;
  left: 1580px;
  top: 995px;
  width: 304px;
  height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 16px 20px;
  outline: solid 1px #ba9359;
  outline-offset: -1px;
  border-radius: 10px;
  overflow: hidden;
}
.submit {
  color: #435334;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.submitTheFeedbackAndApplyChang {
  color: #849771;
  font-size: 12px;
  line-height: 16px;
  font-family: Plus Jakarta Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
